doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/highlight.default.css')
    script(src='/javascripts/highlight.pack.js')
    script hljs.initHighlightingOnLoad();
  body
    block content
